.header{
    width:100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
}
@media all and (max-width:500px){
    .header{
        width:100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 20px;
    } 
}